<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mfblog>
            <index_page>
                <title>Blog</title>
            </index_page>
            <post_view>
                <related_posts>
                    <enabled>1</enabled>
                    <number_of_posts>5</number_of_posts>
                </related_posts>
                <related_products>
                    <enabled>1</enabled>
                    <number_of_products>5</number_of_products>
                </related_products>
                <comments>
                    <type>facebook</type>
                    <number_of_comments>4</number_of_comments>
                </comments>
                <nextprev>
                    <enabled>1</enabled>
                </nextprev>
            </post_view>
            <post_list>
                <posts_per_page>10</posts_per_page>
                <lazyload_padding>200</lazyload_padding>
            </post_list>
            <author>
                <enabled>1</enabled>
                <page_enabled>1</page_enabled>
            </author>
            <sidebar>
                <search>
                    <enabled>1</enabled>
                    <sort_order>10</sort_order>
                </search>
                <categories>
                    <enabled>1</enabled>
                    <sort_order>20</sort_order>
                </categories>
                <recent_posts>
                    <enabled>1</enabled>
                    <posts_per_page>5</posts_per_page>
                    <sort_order>30</sort_order>
                </recent_posts>
                <archive>
                    <enabled>1</enabled>
                    <sort_order>40</sort_order>
                </archive>
                <tag_claud>
                    <enabled>1</enabled>
                    <!-- <max_tags_number>10</max_tags_number> -->
                    <sort_order>45</sort_order>
                </tag_claud>
                <rss_feed>
                    <title>Blog Rss</title>
                    <sort_order>50</sort_order>
                </rss_feed>
            </sidebar>
            <product_page>
                <related_posts_enabled>1</related_posts_enabled>
                <number_of_related_posts>5</number_of_related_posts>
            </product_page>
            <permalink>
                <route>blog</route>
                <type>default</type>
                <post_route>post</post_route>
                <category_route>category</category_route>
                <archive_route>archive</archive_route>
                <tag_route>tag</tag_route>
                <author_route>author</author_route>
                <search_route>search</search_route>
            </permalink>
            <social>
                <add_this_enabled>1</add_this_enabled>
                <add_this_pubid>ra-4def63cd3cf37569</add_this_pubid>
                <add_this_language>en</add_this_language>
            </social>
            <top_menu>
                <show_item>1</show_item>
                <item_text>Blog</item_text>
            </top_menu>
        </mfblog>
    </default>
</config>
