<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magefan\Blog\Api\AuthorInterface" type="Magefan\Blog\Model\Author" />
    <preference for="Magefan\Blog\Api\AuthorResourceModelInterface" type="Magefan\Blog\Model\ResourceModel\Author" />
    <preference for="Magefan\Blog\Api\AuthorCollectionInterface" type="Magefan\Blog\Model\ResourceModel\Author\Collection" />
    <preference for="Magefan\Blog\Api\SitemapConfigInterface" type="Magefan\Blog\Model\Sitemap\SitemapConfig" />
    <preference for="Magefan\Blog\Api\PostManagementInterface" type="Magefan\Blog\Model\PostManagement" />
    <preference for="Magefan\Blog\Api\CategoryManagementInterface" type="Magefan\Blog\Model\CategoryManagement" />
    <preference for="Magefan\Blog\Api\PostRepositoryInterface" type="Magefan\Blog\Model\PostRepository" />
    <preference for="Magefan\Blog\Api\CategoryRepositoryInterface" type="Magefan\Blog\Model\CategoryRepository" />
    <preference for="Magefan\Blog\Api\TagRepositoryInterface" type="Magefan\Blog\Model\TagRepository" />
    <preference for="Magefan\Blog\Api\AuthorRepositoryInterface" type="Magefan\Blog\Model\AuthorRepository" />
    <preference for="Magefan\Blog\Api\CommentRepositoryInterface" type="Magefan\Blog\Model\CommentRepository" />
    <!-- deprecated <preference for="Magento\Sitemap\Model\Sitemap" type="Magefan\Blog\Model\Sitemap" /> -->
    <preference for="Magefan\Blog\Api\UrlResolverInterface" type="Magefan\Blog\Model\UrlResolver" />
    <virtualType name="Magefan\Blog\ImageUpload" type="Magefan\Blog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">magefan_blog/tmp</argument>
            <argument name="basePath" xsi:type="string">magefan_blog</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magefan\Blog\Controller\Adminhtml\Post\Upload\FeaturedImg">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magefan\Blog\ImageUpload</argument>
        </arguments>
    </type>
    <type name="Magefan\Blog\Controller\Adminhtml\Post\Upload\OgImg">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magefan\Blog\ImageUpload</argument>
        </arguments>
    </type>
    <type name="Magefan\Blog\Controller\Adminhtml\Post\Upload\Gallery">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magefan\Blog\ImageUpload</argument>
        </arguments>
    </type>

    <type name="Magento\Sitemap\Model\Sitemap">
        <plugin name="magento_sitemap_model_sitemap_magefan_blog"
                type="Magefan\Blog\Plugin\Magento\Sitemap\SitemapPlugin" sortOrder="10"/>
    </type>

    <type name="MageWorx\XmlSitemap\Model\Sitemap">
        <plugin name="mageworks_sitemap_model_sitemap_magefan_blog"
                type="Magefan\Blog\Plugin\Magento\Sitemap\SitemapPlugin" sortOrder="10"/>
    </type>

    <type name="Magento\AdminGws\Model\Models">
        <plugin name="magefan_blog_plugin_admingws_model_models_plugin" type="\Magefan\Blog\Plugin\Magento\AdminGws\Model\ModelsPlugin" sortOrder="10"/>
    </type>
    
    <virtualType name="Magefan\Blog\Block\Widget\PostLink" type="Magefan\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">Magefan\Blog\Api\PostRepositoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Block\Widget\CategoryLink" type="Magefan\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">Magefan\Blog\Api\CategoryRepositoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Block\Widget\TagLink" type="Magefan\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">Magefan\Blog\Api\TagRepositoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Block\Widget\AuthorLink" type="Magefan\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">Magefan\Blog\Api\AuthorRepositoryInterface</argument>
        </arguments>
    </virtualType>

    <type name="Magefan\Blog\Model\TemplatePool">
        <arguments>
            <argument name="templates" xsi:type="array">
                <item name="blog_post_list" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="label" xsi:type="string">Use System Settings</item>
                        <item name="value" xsi:type="string"></item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/list.phtml</item>
                    </item>
                    <item name="list" xsi:type="array">
                        <item name="label" xsi:type="string">Modern (List)</item>
                        <item name="value" xsi:type="string">list-modern</item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/list-modern.phtml</item>
                    </item>
                </item>
                <item name="blog_post_view" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="label" xsi:type="string">Use System Settings</item>
                        <item name="value" xsi:type="string"></item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/view.phtml</item>
                    </item>
                    <item name="modern" xsi:type="array">
                        <item name="label" xsi:type="string">Modern</item>
                        <item name="value" xsi:type="string">modern</item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/view-modern.phtml</item>
                    </item>
                </item>
                <item name="blog_post_view_next_prev" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="label" xsi:type="string">Default (Next / Previous Labels)</item>
                        <item name="value" xsi:type="string"></item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/view/nextprev.phtml</item>
                    </item>
                    <item name="modern" xsi:type="array">
                        <item name="label" xsi:type="string">Modern (Next / Previous Post Titles)</item>
                        <item name="value" xsi:type="string">modern</item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/view/nextprev-modern.phtml</item>
                    </item>
                </item>
                <item name="blog_post_view_related_post" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="label" xsi:type="string">Use System Settings</item>
                        <item name="value" xsi:type="string"></item>
                        <item name="template" xsi:type="string">Magefan_Blog::post/view/relatedposts.phtml</item>
                    </item>
                </item>
                <item name="blog_post_sidebar_posts" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="label" xsi:type="string">Use System Settings</item>
                        <item name="value" xsi:type="string"></item>
                        <item name="template" xsi:type="string">Magefan_Blog::sidebar/recent.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magefan\Blog\Model\Config\Source\PostListTemplate" type="Magefan\Blog\Model\Config\Source\Template">
        <arguments>
            <argument name="templateType" xsi:type="string">blog_post_list</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Model\Config\Source\PostViewTemplate" type="Magefan\Blog\Model\Config\Source\Template">
        <arguments>
            <argument name="templateType" xsi:type="string">blog_post_view</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Model\Config\Source\NextPrevPostTemplate" type="Magefan\Blog\Model\Config\Source\Template">
        <arguments>
            <argument name="templateType" xsi:type="string">blog_post_view_next_prev</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Model\Config\Source\RelatedPostTemplate" type="Magefan\Blog\Model\Config\Source\Template">
        <arguments>
            <argument name="templateType" xsi:type="string">blog_post_view_related_post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magefan\Blog\Model\Config\Source\SidebarPostsTemplate" type="Magefan\Blog\Model\Config\Source\Template">
        <arguments>
            <argument name="templateType" xsi:type="string">blog_post_sidebar_posts</argument>
        </arguments>
    </virtualType>

</config>
