<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_blog">
        <observer name="magefan_blog_controller_action_predispatch" instance="Magefan\Blog\Observer\PredispathFrontendBlogActionControllerObserver" />
    </event>
    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="magefan_blog_topmenu_observer" instance="Magefan\Blog\Observer\PageBlockHtmlTopmenuBethtmlBeforeObserver" />
    </event>
    <event name="layout_load_before">
        <observer name="magefan_blog_layout_load_before" instance="Magefan\Blog\Observer\LayoutLoadBeforeObserver" />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="categorySeo" instance="Magefan\Blog\Observer\LayoutGenerateBlocksAfter" />
    </event>
</config>