<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="magefan_blog_controller_action_predispatch" instance="Magefan\Blog\Observer\PredispathAdminActionControllerObserver" />
    </event>
    <!--
    <event name="controller_action_postdispatch_blog_post_save">
        <observer name="magefan_blog_invalidate_cache" instance="Magefan\Blog\Observer\InvalidateCache" />
    </event>
    <event name="controller_action_postdispatch_blog_category_save">
        <observer name="magefan_blog_invalidate_cache" instance="Magefan\Blog\Observer\InvalidateCache" />
    </event>
    -->
</config>
